.product-item-container {
  display: grid;
  grid-template-columns: 450px 1fr;
  margin: 20px 200px;
  min-height: 650px;
  gap: 20px;
  background-color: white;
  .product-item-left {
    padding: 15px;
    .product-img-main {
      position: relative;
      cursor: zoom-in;
      max-height: 400px;
      height: 500px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        pointer-events: none;
      }
    }
    .product-social {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0px;
      font-size: 23px;
      .social {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .favorite {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .product-img-slider {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin: 10px 0;
      justify-content: space-between;
      .product-img-slider-item {
        height: 70px;
        width: auto;
        border: 1px solid #dddddd;
        &:hover {
          border: 3px solid red;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .back {
        position: absolute;
        left: 0;
        font-size: 30px;
        color: white;
        background-color: #00000033;
        display: flex;
        align-items: center;
        top: 30%;
        cursor: pointer;
      }
      .next {
        position: absolute;
        right: 0;
        font-size: 30px;
        color: white;
        background-color: #00000033;
        display: flex;
        align-items: center;
        top: 30%;
        cursor: pointer;
      }
    }
  }
  .product-item-right {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .product-name {
      font-size: 21px;
      font-weight: 400;
    }
    .product-feedback {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      align-items: center;
      .product-rate {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        .product-rating {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .product-price {
      position: relative;
      background-color: var(--footer-color);
      display: flex;
      gap: 20px;
      min-height: 70px;
      align-items: center;
      padding: 0 15px;
      .price-old {
        text-decoration: line-through;
        font-size: 17px;
      }
      .price-new {
        font-size: 35px;
        color: var(--main-cloor);
      }
      .price-discount {
        position: absolute;
        background-color: var(--main-cloor);
        right: 30%;
        color: white;
        padding: 5px;
        border-radius: 4px;
        font-size: 11px;
      }
    }
    .product-refund {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      margin: 15px 0;
    }
    .product-transition {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .addres {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
    .product-size {
      display: flex;
      flex-direction: row;
      gap: 77px;
      margin: 15px 0;
      .size {
        display: flex;
        gap: 20px;
        button {
          padding: 5px 30px;
          background-color: transparent;
          border: 1px solid #dddddd;
          &:hover {
            border: 1px solid var(--main-cloor);
            color: var(--main-cloor);
          }
        }
      }
    }
    .product-quantity {
      display: flex;
      flex-direction: row;
      gap: 37px;
      .quantity {
        display: flex;
        gap: 30px;
        align-items: center;
        button {
          border: none;
          padding: 5px 30px;
          background-color: transparent;
          border: 1px solid #dddddd;
          &:nth-child(1) {
            padding: 5px 10px;
          }
          &:nth-child(3) {
            padding: 5px 10px;
          }
        }
      }
    }
    .product-purchase {
      margin: 25px 0;
      display: flex;
      gap: 30px;
      font-size: 20 px;
      button {
        border: 1px solid var(--main-cloor);
        background-color: #edd6d244;
        color: var(--main-cloor);
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.product-shop {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  .shop-about {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    .avata-shop {
      width: 70px;
      height: 70px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .name-shop {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .name {
        font-size: 25px;
      }
      .button {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .button-1 {
          border: 1px solid var(--main-cloor);
          background-color: #edd6d244;
          color: var(--main-cloor);
          padding: 5px 20px;
        }
        .button-2 {
          border: 1px solid #dddddd;
          background-color: transparent;
          padding: 5px 20px;
        }
      }
    }
  }
  .shop-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--main-cloor);
        margin-left: 30px;
      }
    }
  }
  .shop-response {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--main-cloor);
        margin-left: 30px;
      }
    }
  }
  .shop-follow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      justify-content: space-between;
      span {
        color: var(--main-cloor);
        margin-left: 30px;
      }
    }
  }
}

.product-des {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 10px;
  margin: 0 200px;
  margin-top: 15px;
  .des-left {
    height: fit-content;
    background-color: #f5f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .des-detail {
      max-width: 852.8px;
      padding: 15px;
      background-color: white;
      .title {
        height: 45px;
        background-color: #f5f5f5f5;
        display: flex;
        align-items: center;
        font-size: 24px;
        padding-left: 15px;
      }
    }
    .des-comment {
      height: fit-content;
      background-color: white;
      padding: 15px;
      .title {
        font-size: 25px;
        margin-bottom: 15px;
      }
      .rate {
        display: flex;
        gap: 20px;
        padding: 30px 0;
        background-color: #fef6f5;
        border: 1px solid #dddddd;
        .rate-star {
          display: flex;
          flex-direction: column;
          color: var(--main-cloor);
          font-size: 20px;
          margin-left: 20px;
          span {
            font-size: 30px;
          }
        }
        .rate-comment {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          button {
            border: 1px solid #dddddd;
            background-color: white;
            padding: 5px 15px;
            &:nth-child(1) {
              color: var(--main-cloor);
              border: 1px solid var(--main-cloor);
            }
          }
        }
      }
    }
    .product-other-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      .product-item {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid #dddddd;
        gap: 15px;
        &:hover {
          border: 1px solid var(--main-cloor);
        }
        .product-img {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .product-desc {
          width: fit-content;
          padding: 0 10px;
          p {
            margin: 0;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .product-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          .price {
            color: var(--main-cloor);
            font-size: 20px;
          }
        }
      }
    }
    .comment-container {
      margin-top: 15px;
      .comment-detail {
        display: flex;
        gap: 20px;
        .avatar {
          overflow: hidden;
          height: 50px;
          width: 50px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .comment {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .comment-paginate {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        button {
          border: none;
          background-color: transparent;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.4);
          padding: 0px 15px;
          border-radius: 4px;
          &:nth-child(2) {
            background-color: var(--main-cloor);
            color: white;
          }
        }
      }
    }
  }
  .des-right {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    .title {
      font-size: 15px;
      margin-bottom: 15px;
    }
    .product-oustanding {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid #dddddd;
      padding: 15px 15px;
      .product-img {
        width: fit-content;
        height: fit-content;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .product-descript {
        width: fit-content;
        margin: 10px 0;
        p {
          margin: 0;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .product-price {
        color: var(--main-cloor);
        font-size: 18px;
      }
    }
  }
}
