.sort-product-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sort-product {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    .title {
      font-size: 19px;
    }
  }
  .paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .next-prev-page {
      display: flex;
      flex-direction: row;
      gap: 10px;
      div {
        border: 1px solid #dddddddd;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
