.change-password-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    .left {
      div {
        height: 50px;
      }
    }
    .right {
      div {
        height: 50px;
      }
    }
  }
}
